<p class="instruction">Enter the SMS code for your bus stop</p>

<form action="/" method="get" class="search">
  <input id="search" name="search" type="tel" />
  <input type="submit" value="Search">
</form>

<p>
  Or search <a href="/nearby" class="nearby">nearby</a>
</p>

<% if @bus_stops %>
  <table cellspacing="0">
  <% @bus_stops.each do |bus_stop| %>
    <tr>
      <td class="stop">
        <a class="stop" href="/stop/<%= bus_stop.id %>">
          <span class="name">
          <%= bus_stop.commonName %>
          <% if bus_stop.indicator %>
            (<%= bus_stop.indicator %>)
          <% end %>
          </span>
        </a>
      </td>
      <td class="map">
        <a href="http://maps.google.com/maps?z=16&amp;q=loc:<%= bus_stop.lat %>+<%= bus_stop.lon %>">map</a>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // submit the search form as soon as the user has finished
    // entering data (otherwise the user has to click the 'Search'
    // button separately
    var field = document.getElementById('search')
    field.onblur = function() {
      field.form.submit()
    }
  })
</script>
